<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBDarkSkyURL</key>
	<string>https://api.forecast.io/forecast/%@/%.4f,%.4f</string>
	<key>BBWeatherDataURL</key>
	<string>http://www.departments.bucknell.edu/geography/Weather/Data/raw_data.dat</string>
	<key>BBWeatherLatitude</key>
	<real>40.954450000000001</real>
	<key>BBWeatherLongitude</key>
	<real>-76.882728999999998</real>
	<key>BBWeatherService</key>
	<string>BBDarkSkyService</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1dev, © 2006-2014 Michael Dippery</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleIconFile</key>
	<string>BugIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.monkey-robot.BucknellBug</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1dev</string>
	<key>CFBundleSignature</key>
	<string>buBg</string>
	<key>CFBundleVersion</key>
	<string>210.114</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.weather</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
